.subgrid {
  grid-column: screen;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

d-figure.base-grid {
  grid-column: screen;
  background: hsl(0, 0%, 97%);
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
  margin-bottom: 1em;
  position: relative;
}

d-figure > figure {
  margin-top: 0;
  margin-bottom: 20;
}

d-figure.attackAnim {
  grid-column: text;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

d-figure.poison-demo {
  position: relative;
  grid-column: text;
  display: block;
  width: 984px;
  height: 550;
  margin-left: auto;
  margin-right: auto;
}

.poison-demo-controls {
  position: absolute;
  width: 454px;
  height: 150px;
  left: 20px;
  top: 335px;
}

.poison-demo-controls-text {
  position: absolute;
  width: calc(100% - 200px + 10px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

.blue-point {
  fill: steelblue;
  opacity: 0.6;
  r: 4;
}

.red-point {
  fill: orangered;
  opacity: 0.7;
  r: 4;
}

.target-point {
  fill: orange;
  opacity: 1;
  r: 5;
}

.selected-point {
  fill: orange;
  opacity: 0.5;
  r: 5;
}

.blue-poison {
  fill: steelblue;
  /* r: 5; */
}

.red-poison {
  fill: orangered;
  /* r: 5; */
}

.area-blue {
  fill: lightsteelblue;
  opacity: 0.4;
  stroke-width: 0;
}

.area-red {
  fill: red;
  opacity: 0.2;
  stroke-width: 0;
}

.overlay {
  position: absolute;
}

.slider {
  position: absolute;
  border-radius: 2px;
  -webkit-appearance: none;
  grid-column: middle;
}

.attack-slider {
  height: 16px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-animation: 0.2s;
  transform: opacity 0.2s;
  left: 80px;
  width: calc(100% - 80px - 80px);
  top: calc(100%);
}
.attack-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  border-radius: 25%;
  background: #3d3d3d;
  cursor: pointer;
}
.attack-slider::-moz-range-thumb {
  width: 16px;
  height: 32px;
  border-radius: 25%;
  background: #3d3d3d;
  cursor: pointer;
}

.control-slider {
  width: calc(100% - 200px);
  height: 16px;
  padding: 0;
  margin: 0;
  top: 24px;
  opacity: 0.7;
}

.slider-container {
  position: absolute;
  width: 100%;
}

.mode-container {
  position: absolute;
  width: 180px;
  left: calc(100% - 180px);
}

.control-slider::-webkit-slider-runnable-track {
  height: 6.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #808080, 0px 0px 1px #b0b0b0;
  background: #d3d3d3;
  border-radius: 18px;
  border: 0.1px solid #a0a0a0;
}
.control-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 40%;
  background: #3d3d3d;
  cursor: pointer;
  margin-top: calc(0.5 * (6.4px - 16px));
}
.control-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 45%;
  background-color: #3d3d3d;
  cursor: pointer;
}

.button {
  position: absolute;
  height: 24px;
  opacity: 0.7;
  background-color: #d3d3d3;
  border-radius: 8px;
  display: block;
  align-items: center;
}

.play-button {
  top: calc(100% - 2px);
  left: 50px;
}

.step-forward-button {
  top: calc(100% - 2px);
  right: calc(50px - 2.5px);
}

.step-back-button {
  top: calc(100% - 2px);
  left: calc(50px - 32px);
}

.control-button {
  position: relative;
  margin-right: 7.5px;
  width: auto;
  min-width: 40px;
  height: 48px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}

.poison-counter {
  position: absolute;
  height: 24px;
  top: calc(100% - 40px);
  margin: auto;
}

.tick line {
  visibility: hidden;
}

.input-container {
  position: absolute;
}

.input {
  position: absolute;
  border: 0;
  border-bottom: 2px solid #aaa;
  background: transparent;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
}
.input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #222;
}

.seed-label {
  position: absolute;
  left: calc(100% - 200px - 100px);
  top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #808080;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.mode-label {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}

.seed-textfield {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  left: calc(100% - 200px - 100px);
  width: 100px;
}

.seed-button {
  left: calc(100% - 200px - 100px - 150px - 10px);
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}

.seed-container {
  position: absolute;
  width: 100%;
}

.demo-buttons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(100% - 180px);
  top: 32px;
  width: calc(100% - 180px);
  height: calc(100% - 32px);
}
