.subgrid {
  grid-column: screen;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

d-figure.base-grid {
  grid-column: screen;
  background: hsl(0, 0%, 97%);
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
  margin-bottom: 1em;
  position: relative;
}

d-figure > figure {
  margin-top: 0;
  margin-bottom: 20;
}

d-figure.attackAnim {
  grid-column: text;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

.blue-point {
  fill: steelblue;
  opacity: 0.6;
  r: 4;
}

.red-point {
  fill: orangered;
  opacity: 0.6;
  r: 4;
}

.target-point {
  fill: orange;
  opacity: 1;
  r: 5;
}

.selected-point {
  fill: orange;
  opacity: 0.5;
  r: 5;
}

.blue-poison {
  fill: steelblue;
  /* r: 5; */
}

.red-poison {
  fill: orangered;
  /* r: 5; */
}

.area-blue {
  fill: lightsteelblue;
  opacity: 0.4;
  stroke-width: 0;
}

.area-red {
  fill: red;
  opacity: 0.2;
  stroke-width: 0;
}

.overlay {
  position: absolute;
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  grid-column: middle;
  height: 16px;
  border-radius: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-animation: 0.2s;
  transform: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  border-radius: 25%;
  background: #3d3d3d;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 16px;
  height: 32px;
  border-radius: 25%;
  background: #3d3d3d;
  cursor: pointer;
}

.attackSlider {
  left: 80px;
  width: calc(100% - 80px - 80px);
  top: calc(100%);
}

.play-button {
  position: absolute;
  height: 24px;
  top: calc(100% - 2px);
  left: 50px;
  opacity: 0.7;
  background-color: #d3d3d3;
  border-radius: 8px;
  display: block;
  align-items: center;
}

.poison-counter {
  position: absolute;
  height: 24px;
  top: calc(100% - 40px);
  margin: auto;
}

.tick line {
  visibility: hidden;
}
